<header>
  <div class="container">
    <div class="header-content">
      <a class="logo button" routerLink="/">
        <img src="../assets/logo.png" alt="Logo Pokemon" />
      </a>
      <div class="nav">
        <input
          (input)="pokemonService.handleSearch($event)"
          class="search"
          type="search"
          placeholder="Search (Press '/' to focus)"
        />
        <a routerLink="/favorites">
          <mat-icon
            class="favorite"
            aria-hidden="false"
            aria-label="Go to favorites"
          >
            favorite</mat-icon
          >
        </a>
      </div>
    </div>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
